@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體", sans-serif, Arial;
  box-sizing: border-box;
}

.header_load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8.75rem;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.933);
}
.header_load .big_box {
  display: grid;
  grid-template-columns: 20% 50% 25% 5%;
  height: 140px;
}
@media screen and (max-width: 1248px) {
  .header_load .big_box {
    grid-template-columns: 25% 60% 15%;
  }
}
@media screen and (max-width: 767px) {
  .header_load .big_box {
    grid-template-columns: 55% 45%;
  }
}
.header_load .big_box .menu_btn {
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
  padding-top: 18px;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .header_load .big_box .menu_btn {
    display: none;
  }
}
.header_load .big_box .menu_btn:hover {
  background: rgba(255, 255, 255, 0);
}
.header_load .big_box .menu_btn span {
  display: block;
  height: 5px;
  width: 60%;
  margin: 5px auto;
  background: rgb(255, 255, 255);
  opacity: 1;
  transition: all 0.3s;
}
.header_load .big_box .menu_btn span .span:not(:last-child) {
  margin-bottom: 8px;
}
.header_load .big_box .menu_btn span .span:first-child {
  transform: rotate(45deg) translate(50%, 50%);
}
.header_load .big_box .menu_btn span .span:last-child {
  transform: rotate(-45deg) translate(40%, 0%);
}
.header_load .big_box .menu_btn span .span:not(:first-child):not(:last-child) {
  opacity: 0;
}
.header_load .big_box .menu_btn .active span {
  background-color: #000; /* changes to indicate active state */
}
.header_load .big_box .menu_wrap {
  position: fixed;
  width: 400px;
  right: -400px;
  top: 140px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  padding: 0 4rem;
  transition: right 0.3s ease-in-out;
}
@media screen and (min-width: 767px) {
  .header_load .big_box .menu_wrap {
    display: none;
  }
}
.header_load .big_box .menu_wrap ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 50;
}
.header_load .big_box .menu_wrap ul li {
  margin-bottom: 20px;
  position: relative;
  z-index: 50;
  overflow: hidden;
}
.header_load .big_box .menu_wrap ul li a {
  font-size: 2.6rem;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
  z-index: 52;
}
.header_load .big_box .menu_wrap ul li a:hover {
  color: yellow;
}
.header_load .big_box .menu_wrap.active {
  right: 0 !important;
  display: block; /* or any visible change */
}
@media screen and (min-width: 960px) {
  .header_load .big_box .menu_wrap.active {
    display: none;
  }
}
.header_load .big_box .inter_box .header_logo {
  margin: 0 auto;
  overflow: hidden;
  height: 140px;
}
.header_load .big_box .inter_box .header_logo a {
  display: inline-block;
}
.header_load .big_box .inter_box .header_logo a img {
  width: 14rem;
  margin: 20px;
}
@media screen and (max-width: 767px) {
  .header_load .big_box .inter_box .header_logo a img {
    width: 12rem;
  }
}
.header_load .big_box nav {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  justify-content: space-evenly;
}
@media screen and (min-width: 1024px) {
  .header_load .big_box nav {
    width: 80%;
    grid-template-columns: 25% 0 55% 5%;
  }
}
@media screen and (min-width: 960px) {
  .header_load .big_box nav {
    width: 100%;
    grid-template-columns: 33% 33% 33%;
  }
}
@media screen and (max-width: 960px) {
  .header_load .big_box nav {
    display: none;
  }
}
.header_load .big_box nav ul {
  justify-items: center;
  list-style-type: none;
  display: block;
  margin: 0 auto;
}
.header_load .big_box nav ul .link_work {
  position: relative;
  display: inline-block;
  vertical-align: 10px;
  font-size: 24px;
  padding: 70px 60px;
  color: white;
  cursor: pointer;
}
.header_load .big_box nav ul .link_work:hover .sub_mini_link {
  transform: scale(1);
}
.header_load .big_box nav ul .link_work:hover {
  color: orange;
}
.header_load .big_box nav ul .sub_mini_link {
  transform: scale(0);
  transition: 1s;
  transform-origin: top;
  position: absolute;
  top: 110px;
  right: 0;
  width: auto;
  z-index: 20;
  background: rgba(236, 236, 236, 0.9);
  list-style-type: none;
}
.header_load .big_box nav ul li {
  display: block;
  padding: 20px 10px;
}
.header_load .big_box nav ul li .hight {
  line-height: 0.8;
}
.header_load .big_box nav ul li a {
  outline: none;
  text-decoration: none;
  line-height: 5.5;
  display: block;
  font-size: 24px;
  color: white;
  text-align: center;
}
.header_load .big_box nav ul li a:hover {
  color: orange;
}

.main {
  display: block;
}
.main .main_one {
  width: 100%;
  height: 120vh;
  position: relative;
  overflow: hidden;
}
.main .main_one .gray {
  background: rgba(77, 77, 77, 0.7);
  z-index: 1;
}
.main .main_one .gray .gray_img {
  z-index: 1;
  position: absolute;
}
.main .main_one .gray img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_one .promo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .main_one .promo img {
  z-index: 1;
  position: absolute;
  top: 350px;
  width: 100%;
}

.onsite {
  width: 100%;
  height: 150vh;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .onsite {
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .onsite {
    height: 100%;
  }
}
.onsite .pic_box {
  background: rgb(210, 210, 210);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.onsite .pic_box .pic_text {
  width: 100%;
}
.onsite .pic_box .pic_text img {
  width: 72%;
  margin: 50px;
}
.onsite .pic_box .pic_store {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 80px;
}
@media screen and (max-width: 1024px) {
  .onsite .pic_box .pic_store {
    display: block;
    grid-template-rows: 50% 50%;
  }
}
.onsite .pic_box .pic_store .pic {
  width: 100%;
}
.onsite .pic_box .pic_store .pic .store_pic {
  width: 85%;
  padding-bottom: 50px;
}
.onsite .pic_box .pic_store .pic .info {
  width: 100%;
  height: auto;
  font-size: 36px;
  line-height: 2;
}
@media screen and (max-width: 1248px) {
  .onsite .pic_box .pic_store .pic .info {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .onsite .pic_box .pic_store .pic .info {
    font-size: 22px;
  }
}

.show_product {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.show_product .title {
  height: auto;
}
.show_product .title .title_bg {
  width: 40%;
  margin: 40px 150px;
}
@media screen and (max-width: 1248px) {
  .show_product .title .title_bg {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .show_product .title .title_bg {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .show_product .title .title_bg {
    width: 70%;
    margin: 40px 50px;
  }
}
.show_product .product {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0 100px;
}
@media screen and (max-width: 767px) {
  .show_product .product {
    display: block;
    grid-template-rows: 50% 50%;
    margin: 0;
  }
}
.show_product .product .product_pic {
  width: 100%;
  height: auto;
}
.show_product .product .product_pic .product_bg {
  width: 500px;
  margin: 20px;
}
@media screen and (max-width: 1024px) {
  .show_product .product .product_pic .product_bg {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .show_product .product .product_pic .product_bg {
    margin: 0;
  }
}
.show_product .product .product_info {
  margin-top: 150px;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .show_product .product .product_info {
    margin-top: 10px;
    margin: 0 auto;
    margin-left: 12px;
  }
}
.show_product .product .product_info .info_title {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .show_product .product .product_info .info_title {
    display: block;
  }
}
.show_product .product .product_info .info_title .title {
  font-size: 40px;
  font-weight: 700;
}
.show_product .product .product_info .info_title .small_text {
  font-size: 18px;
  justify-items: center;
  display: block;
  line-height: 5.5;
  font-weight: 400;
}
.show_product .product .product_info .content {
  font-size: 24px;
  font-weight: 600;
}
.show_product .product .product_info button {
  border: none;
  width: 350px;
  height: 50px;
  background: #000;
  margin-top: 50px;
}
.show_product .product .product_info button a {
  text-decoration: none;
  font-size: 28px;
  color: yellow;
  font-weight: 900;
  padding: 5px 60px;
}

footer {
  background: #000000;
  padding: 50px 0;
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
}
@media screen and (min-width: 1248px) {
  footer {
    padding: 50px 0 50px 100px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin-top: 20px;
    display: block;
  }
}
footer .logo_info {
  display: grid;
  grid-template-rows: 80% 20%;
}
@media screen and (max-width: 767px) {
  footer .logo_info {
    display: block;
  }
}
footer .logo_info .logo_box {
  width: 100%;
  overflow: hidden;
}
footer .logo_info .logo_box .logo {
  font-size: 14px;
  padding: 10px 0;
  text-decoration: none;
}
footer .logo_info .logo_box .logo img {
  width: 350px;
}
footer .logo_info .copy {
  font-size: 18px;
  color: white;
}
footer .info_coda {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-left: 100px;
  flex-direction: column;
}
@media screen and (min-width: 1248px) {
  footer .info_coda {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1024px) {
  footer .info_coda {
    margin-left: 0;
  }
}
@media screen and (max-width: 960px) {
  footer .info_coda {
    margin-left: 0;
  }
}
footer .info_coda:nth-of-type(1) {
  flex-grow: 2;
}
footer .info_coda:nth-of-type(2) {
  flex-grow: 5;
}
footer .info_coda:nth-of-type(3) {
  flex-grow: 1;
}
footer .info_coda .info_minibox {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox {
    display: block;
    margin: 0 auto;
  }
}
footer .info_coda .info_minibox:nth-of-type(1) {
  flex-grow: 10;
}
footer .info_coda .info_minibox:nth-of-type(2) {
  flex-grow: 1;
}
footer .info_coda .info_minibox .aboutwe {
  height: auto;
  margin: 0 20px;
}
@media screen and (max-width: 960px) {
  footer .info_coda .info_minibox .aboutwe {
    margin: 0 5px;
  }
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .aboutwe {
    padding: 10px 0;
  }
}
footer .info_coda .info_minibox .aboutwe h2 {
  color: white;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .aboutwe h2 {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .aboutwe p {
  color: white;
  text-align: left;
  padding: 3px 0;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .aboutwe p {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .product_description {
  height: auto;
  margin: 0 30px;
}
@media screen and (max-width: 960px) {
  footer .info_coda .info_minibox .product_description {
    margin: 0 5px;
  }
}
footer .info_coda .info_minibox .product_description h2 {
  color: white;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .product_description h2 {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .product_description a {
  color: white;
  text-align: left;
  display: block;
  text-decoration: none;
  padding: 3px 0;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .product_description a {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .buy_message {
  height: auto;
  margin: 0 20px;
}
@media screen and (max-width: 960px) {
  footer .info_coda .info_minibox .buy_message {
    margin: 0 5px;
  }
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .buy_message {
    padding: 10px 0;
  }
}
footer .info_coda .info_minibox .buy_message h2 {
  color: white;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .buy_message h2 {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .buy_message p {
  color: white;
  text-align: left;
  padding: 3px 0;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .buy_message p {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .contactus {
  height: auto;
  margin: 0 20px 0 30px;
}
@media screen and (max-width: 960px) {
  footer .info_coda .info_minibox .contactus {
    margin: 0 5px;
  }
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .contactus {
    padding: 10px 0;
  }
}
footer .info_coda .info_minibox .contactus h2 {
  color: white;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .contactus h2 {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_minibox .contactus p {
  color: white;
  text-align: left;
  padding: 3px 0;
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_minibox .contactus p {
    display: block;
    text-align: center;
  }
}
footer .info_coda .info_linkbox {
  display: block;
  width: 200px;
}
@media screen and (min-width: 960px) {
  footer .info_coda .info_linkbox {
    display: block;
    margin-left: 420px;
  }
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_linkbox {
    padding: 10px 0;
    margin: 0 auto;
  }
}
footer .info_coda .info_linkbox:nth-of-type(1) {
  flex-grow: 3;
}
footer .info_coda .info_linkbox:nth-of-type(2) {
  flex-grow: 1;
}
footer .info_coda .info_linkbox .space_box {
  height: auto;
}
footer .info_coda .info_linkbox .link {
  padding: 1px 0;
}
@media screen and (max-width: 960px) {
  footer .info_coda .info_linkbox .link {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  footer .info_coda .info_linkbox .link {
    margin: 0 auto;
  }
}
footer .info_coda .info_linkbox a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 5px;
}
footer .info_coda .info_linkbox a img {
  width: 35px;
}
footer .info_coda .info_linkbox a img:hover {
  transform: scale(1.02);
}

.products {
  width: 100%;
  height: 100%;
}
.products .products_content {
  height: auto;
}
.products .products_content .content_box {
  display: flex;
  flex-direction: column;
}
.products .products_content .content_box .mini_box {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 140px 100px 0;
}
.products .products_content .content_box .mini_box .products_title {
  width: 100%;
}
.products .products_content .content_box .mini_box .products_title img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */